---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Acerca de Mí | Félix Pacheco Lobos"
  description="Acerca de Félix Pacheco Lobos"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Acerca de Mí"
        tagline="Gracias por visitar mi pagina. Lee un poco sobre mí."
      >
        <img
          width="1553"
          height="873"
          src="/assets/panoramic.webp"
          alt="Félix de Vacaciones en el Sur de Chile"
        />
      </Hero>

      <section>
        <h2 class="section-title">Acerca de Mí</h2>
        <div class="content">
          <p>
            Egresado recientemente de 4Geeks Academy como Desarrollador Full
            Stack:
          </p>
          <p>
            Amplia experiencia en Atención de clientes, gestión y análisis de
            problemas adquiridos a traves de mas de 10 años de experiencia en el
            Área de Reclamos institucionales en VTR Globalcom.
          </p>
          <p>
            Soy confiable, sociable y alegre, gusto de trabajar en equipo ya que
            creo que la mejor forma de hallar soluciones es analizar los
            problemas desde diferentes ángulos y considerar las experiencias
            previas de cada uno. Me encanta el desarrollo de software ya que los desafíos 
            nunca se acaban y siempre hay algo nuevo que aprender.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Formación</h2>
        <div class="content">
          <p>
            4Geeks Academy Chile - Desarrollador Full Stack,
            <br />
            feb. 2023 - jul. 2023
          </p>
          <a
            href="https://certificate.4geeks.com/a6d7482bc158c5dcac5125aab8c6285f85661d63"
            target="_blank"
            rel="noopener noreferrer"
          >
            Titulo: Desarrollador de Software Full Stack
          </a>
        </div>
      </section>
      <section>
        <h2 class="section-title">Aptitudes</h2>
        <div class="content">
          <ul>
            <li>HTML, CSS y JavaScript</li>
            <li>Jest</li>
            <li>React</li>
            <li>Python y Flask</li>
            <li>REST API</li>
            <li>SQL, PostgreSQL y SQLite</li>
            <li>Git y control de versiones</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  p {
    margin: 0 0 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
